<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <%- include('partials/navbar') %>

    <h1>Welcome, <%= username %>!</h1>

    <h2>Account Overview</h2>
    <div>
        <% if (accounts && accounts.length > 0) { %>
            <ul>
                <% accounts.forEach(account => { %>
                    <li>
                        <span>Account ID: <%= account.accountId %></span><br>
                        <span>Type: <%= account.accountType %></span><br>
                        <span>Balance: <%= account.balance %></span>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No accounts found.</p>
            <a href="/account">Create a new account</a>
        <% } %>
    </div>
   
</body>
</html>
